__pycache__/
*.py[cod]
*.so
*.egg-info/
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/
.venv/

.env

artifacts/
data/raw/
data/processed/

frontend/angular-ui/node_modules/
frontend/angular-ui/dist/

.idea/
.DS_Store
