services:
  backend:
    build:
      context: .
      dockerfile: docker/backend.Dockerfile
    container_name: mlforecast_backend
    ports:
      - "8000:8000"
    environment:
      - ENVIRONMENT=prod
    volumes:
      - ./data:/app/data
      - ./artifacts:/app/artifacts

  frontend:
    build:
      context: .
      dockerfile: docker/frontend.Dockerfile
    container_name: mlforecast_frontend
    ports:
      - "4200:80"
    depends_on:
      - backend
